<div class="h-screen flex justify-center items-center">
    <div class="columns">
        <div class="column is-6 is-offset-3 -mt-32">
            <div class="card shadow p-4 rounded-md text-center">
                <img class="m-auto" src="/assets/images/covid_loading.gif" alt="">
                <p class="text-2xl">Cargando...</p>
            </div>
        </div>
    </div>
</div>